################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/crutkas/FileContentIndex
/.vs/crutkas/v17
/.vs
